<nav class="footer">
    <img class='imgfooter' src="{{ asset('assets/img/imgfooter.svg') }}" alt="Tim masquotte">
    <div class="linkfooter">

        <a href="www.youtube.com">
            <img with="70%" src="{{ asset('assets/img/youtubefooter.png') }}" alt="youtube">

             Rejoind la communotée Youtube pour avoir les derniere video des Tim .
        </a>

        <a href="www.github.com">
            <img with="70%" src="{{ asset('assets/img/githubfooter.png') }}" alt="githubfooter">
        
            Rejoind la communotée GitHub pour cree ou ades les Tim dans leur devellopment.
        </a>


        <a href="www.discord.com">
            <img with="70%" src="{{ asset('assets/img/discordfooter.png') }}" alt="discord">
            Rejoind la communotée Discord des Tim.
        </a>

    </div>
</nav>


