
<div class="space"></div>
 <footer>
        <ul class="icons">
            <li><a href="#"><ion-icon name="logo-discord"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
        </ul>
        <ul class="menu">
                <li><a href="{{path('app_home')}}">Accueil</a></li>
                <li><a href="{{path('app_products')}}">Produits</a></li>
                <li><a href="{{ path('app_account') }}">Compte</a></li>
                <li><a href="{{ path('app_cart') }}">Panier</a></li>
        </ul>
            <div class="footer-copyright">
                <p>Copyright @ 2022 All Rights Reserved.</p>
            </div>
    </footer>



