{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
 
    <div class="homeContent2">
		<img width="200px" src="assets/img/page_logo.svg" alt="">
		<div class="homeTitle">
			<span class="homeTitleSpan">En cours</span>De developpment
		</div>

	</div>
{% endblock %}

   