@import url("stylephone.css");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-size: 100%;


}

/*
-----------------------tools-------------------------------*/
.space {

    background-color: #0048ff00;
    height: 5px;
    margin: 5% 10%;
    border-radius: 555px;

}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background: #0047ff;
}

.btn {
    text-align: center;
    transition-duration: 0.2s;
}

.btn {
    padding: 10px;
    background: #0047ff;
    color: rgb(255, 255, 255);
    border-radius: 300px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}


.btn:hover {
    border-radius: 300px;
    transform: scale(110%);
    top: 5px;
}

.btn:active {
    border-radius: 300px;
    transform: scale(100%);
}


/*-----------------------------------*/
button {
    text-align: center;
    transition-duration: 0.2s;
}

button {
    padding: 10px;
    background: #0047ff;
    color: rgb(255, 255, 255);
    border: #0047FF 3px solid;
    border-radius: 300px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}


button:hover {
    border-radius: 300px;
    transform: scale(110%);
    top: 5px;
}

button:active {
    border-radius: 300px;
    transform: scale(100%);
}

/*-----------------------------------*/



/*-----------------------------------*/
input {
    text-align: center;
    transition-duration: 0.2s;
}

input {
    padding: 10px;
    background: rgb(255, 255, 255);
    color: black;
    border: #0047FF 3px solid;
    border-radius: 300px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

input:focus-visible {
    border: #0047FF 3px solid;
    outline: #0047FF none 1px;
}

input:hover {
    border-radius: 300px;
    transform: scale(110%);
    top: 5px;
}

input:active {
    border-radius: 300px;
    transform: scale(100%);
    border: #0047FF 3px solid;
}

/*-----------------------------------*/


.troc {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

main {
    margin: 0 10%;
}

.productscrollbar {
    display: flex;
    overflow: overlay;
}

/*---------------------nav----------------------------------
*/
.navbar {
    width: 100%;
    height: 90px;
    background: white;
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: #0047ff solid 5px;
    margin-bottom: 200px;
    padding: 0 100px;

}

.navMarg {
    width: 100%;
    height: 180px;
}


.navLogo {
    margin-top: 100px;

    width: 100px;
}


.navLink {
    font-size: 1.5rem;
}







/*-----------------------------------------------------------
*/

.prodDashboard {
    display: flex;
    flex-wrap: wrap;

}

.prodBlock {
    display: flex;
    justify-content: space-between;
}

.prodImg {
    border-radius: 20px;
    overflow-x: hidden;
}

.product {
    display: block;
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 20px;
    padding: 20px;
    transition-duration: 0.2s;
}

.product:hover {
    transform: scale(110%);
}

.prodName {
    color: #0047FF;
    text-decoration: none;
    font-weight: bold;
}

.prodNameCat {
    display: flex;
}



.prodBlock {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.navlogobtn {
    margin-top: -32px;

}



/*---------------------------------------------*/


.showProdBlock {
    display: flex;
    justify-content: space-between;
}

.showProdIllust {
    width: 100%;
    display: flex;
}

.showProdImg {
    width: 80%;
}


.showProdImgGalerie {
    width: 40%;
}

.showProdText {
    display: flex;
    flex-direction: column;
    gap: 6%;
    width: 45%;
}

.showProdNameSubCat {
    display: flex;
    justify-content: space-between;
}

.showProduct {
    display: flex;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    padding: 60px;
    transition-duration: 0.2s;
}

.showProduct:hover {
    transform: scale(110%);
}

.showProdName {
    font-size: 1.3em;
    color: #0047FF;
    text-decoration: none;
    font-weight: bold;
}

.showProdNameCat {
    display: flex;
}

.showH1 {
    text-align: center;
    width: 50%;
    padding: 10px;
    background: #0048ff;
    color: rgb(255, 255, 255);
    border-radius: 300px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.posShowH1 {
    display: flex;
    justify-content: center;
}

.showTroc {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*---------------home--------------------*/


/*---- content1--------*/




.homeContent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100 vw;
}

.homeContent1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 100 vw;
}



.display-time {
    font-size: 4rem;

}

.rot {
    font-size: 1.5rem;
    rotate: -90deg;
    align-self: center;
    margin-bottom: 0 !important;
}

.homeTimNbr {
    font-size: 5rem;
    text-align: center;

}

#homeSubText {
    font-size: 3rem;
    text-align: center;
}

.homeSubTextSpan {
    font-size: 3rem;
    color: #0047FF;
}

.homeText {
    width: 100%;
    margin: 10px 0 0 0;
}



.homeImg {
    display: flex;
    justify-content: center;
}

.homeContent1Img {

    width: 800px;

}

/*---- content2--------*/
.homeContent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100 vw;
}

.homeTitle {
    font-size: 8rem;

}

.homeTitleSpan {
    color: #0047FF;

}

.homeSlogan {
    font-size: 1.5rem;
    text-align: center;
}

.homeSloganSpan {
    font-size: 2rem;
}

.homeSloganSpan1 {
    font-size: 2rem;
    color: #0047FF;
}

/*---- content3--------*/

.homeContent3 {
    display: flex;
    flex-direction: column;
    width: 100 vw;
}

.homeTopTim {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.homeTopProduct1 {
    width: 100% !important;
    display: flex;
    height: 300px;
    justify-content: space-evenly;

}

.product {
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 20px;
    padding: 20px;
    transition-duration: 0.2s;
}

.homeTopProduct2 {
    display: flex;
    overflow: overlay;
}


.homeProdtext {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.homeProdDesc {
    overflow: hidden;
    height: 8rem;
}

.homeH2 {
    font-size: 1.5rem;
    width: 300px;
    margin-bottom: 50px;
}


.animTimFly {

    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.animImgTim {

    position: absolute;
    transform: translate3d(-10vw, 0, 0);
    -webkit-animation: anim 4s infinite;
    animation: anim 4s infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

@-webkit-keyframes anim {
    0% {
        width: 0px;
    }

    100% {
        translate: 100vw;
    }
}

@keyframes anim {
    0% {
        translate: 0vw;
    }

    100% {
        translate: 100vw;
    }
}

.hidden {
    visibility: hidden;
}

.context {
    font-size: 30px;
    text-align: center;
}

/*----------------cart-----------------*/

/*---- content1--------*/


.panierContentBtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.panierContentBtn>.btn {
    margin: 1rem;
}

.delete {
    width: 2rem;
    padding: 0.2rem;
    background-color: #0047FF;
    border: 0;
}

.panierContentPrixDel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.panierContentProdPrice {
    display: flex;
    align-items: center;
    gap: 29px;
    flex-direction: column;
}

.panierPriceQuantity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    margin: 50px 0;
    border-top: #0047FF solid 0.3rem;
    padding: 20px 0;
}

.h1 {
    text-align: center;
    font-size: 2rem;
    margin: 50px;
}


/*----------------------------------------connexion----------------*/

.connexionContentBtn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.connexionContentInput {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

}

.connexionContent {
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 20px;
    padding: 20px;
    transition-duration: 0.2s;
}

.connexionContent:hover {
    transform: scale(110%);
}

.connexionContentBtn>.btn {
    border: 0;
    margin: 10px;
}

/*---------------------inscription---------------------------------------------------*/

#register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 20px;
    padding: 20px;
    transition-duration: 0.2s;
}

#register>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

}

#register:hover {
    transform: scale(110%);
}

/*---------------------------------------valider commande------------------------------------------*/


.h1 {
    text-align: center;
    font-size: 2rem;
    margin: 50px;
}

#order>form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 20px;
    padding: 20px;
    transition-duration: 0.2s;
}

#order>form>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

}

#order>form:hover {
    transform: scale(110%);
}


/*-------------------------------------modification info -----------------------------------*/

#chang_profil_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 20px;
    padding: 20px;
    transition-duration: 0.2s;
}

#chang_profil_info>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

}

#chang_profil_info:hover {
    transform: scale(110%);
}

#chang_profil_password {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 20px;
    padding: 20px;
    transition-duration: 0.2s;
}

#chang_profil_password>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

}

#chang_profil_password:hover {
    transform: scale(110%);
}
/*---------------------------------------compte------------------------------*/
.accountBtnContent{
    text-align: center;
    flex-wrap: wrap;
    margin:  0 0  100px 0;
}

.textSearch{
    font-size: 1.5rem;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a{
    text-decoration: none;
}

footer{
    margin-top: 2000px;
    background: #0047ff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #ffffff;
    color: #0047ff;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    background: #0047ff;
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #52527a;
    transition: 0.5s;
}

.footer-copyright{
    background-color:#ffffff;
    color: #0047ff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}
/*------------------------footer--------------------*/



