<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tim Store - vente de colection{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/img/tim_icon.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "include/_nav.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
